# R/RStudio
*.Rproj
*.RData
*.RDataTmp
*.Rhistory
*.Rapp.history
.Rproj.user/

# System/Editor Files
.DS_Store
Thumbs.db
~$*

# Plots and Figures
*.png
*.jpg
*.jpeg
*.pdf

# Output folders
output/
prep/**/output/
prep/**/assessment_graphs_ices_2782/

# Shapefiles (GIS)
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.sbn
*.sbx
*.qmd
*.gpkg
*.gpkg-shm
*.gpkg-wal
*.xml
*.atx

# Excel and CSV data files
*.csv
*.xlsx
*.xls

# PDFs and other static data
*.pdf

# Temporary or test scripts
Untitled*.R
*.bak
*.tmp

# Specific folders to ignore
MAPS/
Rplot.*
Rplots.*
prep/BD_HAB/
prep/BD_SP/
prep/LSP/01/
prep/LSP/04/
prep/LSP/1/
prep/SPP_ICO/
